body {
    font-family: 'Cinzel', serif;
    background-image:url('../images/tweed.png');
}

h1, h3 {
    font-family: 'Cinzel', serif;        
}


li.menu-text{
    font-family: 'Kaushan Script', cursive;
    font-size:25px;
}