body {
    background-image:url('../images/tweed.png');
}

body, h1, h3, li.menu-text {
    font-family: 'Cinzel', serif;        
}


li.menu-text{
    font-size:25px;
}


.container {
    margin:0 auto;
}

.input-field {
    width:50%;
}